@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400&display=swap');

:root {
    --pri-color: #459C3D;
    --sec-color: #AACA47;
    --ter-color: #1E3279;
    --qua-color: #0152A1;
    --qui-color: #49A7CD;
    --ser-color: #A0A1A5;
    --white: #fff;
    --black: #000;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--ter-color);
}

h2 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

/* My classes */
.main-bg {
    background-image: url(/assets/imgs/main-bg2.svg);
    background-size: cover;
    background-position: center center;
    color: var(--pri-color);
}

.secondary-bg {
    background: var(--ser-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.conf-section {
    min-height: 100vh;
}

/* Config menu */

.menu {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.3rem solid var(--ser-color);
}

.menu img {
    width: 6.5rem;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 1.5rem;
    color: var(--ter-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 20%;
    width: 0;
    height: 0.1rem;
    background: var(--pri-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 60%;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

/* Fin config menu */

.inicio-content {
    position: relative;
    top: -5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: var(--gap);
    height: 100vh;
}

.inicio-text,
.inicio-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inicio-text h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 1.1;
}

.inicio-img {
    max-width: 100%;
    height: auto;
}

.nos-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}

.grid-nos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-nos h3 {
    font-size: 1rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 1rem;
}

/* Fim do my classes */

#spacing {
    height: 4.5rem;
}